<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>19/05/31 00:14:54</td>   <td>0</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b2948e2]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/05/31 00:14:54</td>   <td>127</td> <td>&nbsp;</td><td title="&gt;&gt;TC0007_CreateRoleWithAllFeature.setData()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b2948e2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>19/05/31 00:14:54</td>   <td>132</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b2948e2]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/05/31 00:14:54</td>   <td>211</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b2948e2]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>19/05/31 00:14:54</td>   <td>609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b2948e2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/05/31 00:15:00</td>   <td>5708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0007_CreateRoleWithAllFeature.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b2948e2]">positiveLogin</td> 
  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>19/05/31 00:15:08</td>   <td>13859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b2948e2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>19/05/31 00:15:08</td>   <td>14487</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b2948e2]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/05/31 00:15:08</td>   <td>14546</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b2948e2]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
</table>
