<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:21:44</td>   <td>0</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/05/31 00:21:44</td>   <td>123</td> <td>&nbsp;</td><td title="&gt;&gt;TC0001LoginAndLogout.setData()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:21:44</td>   <td>124</td> <td>&nbsp;</td><td title="&gt;&gt;TC0002_LoginWithInvalidCredential.setData()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/05/31 00:21:44</td>   <td>124</td> <td>&nbsp;</td><td title="&gt;&gt;TC0003_CreateEntityWithMandatoryField.setData()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/05/31 00:21:44</td>   <td>124</td> <td>&nbsp;</td><td title="&gt;&gt;TC0004_CreateUserWithAllField.setData()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/05/31 00:21:44</td>   <td>124</td> <td>&nbsp;</td><td title="&gt;&gt;TC0005_InActiveEntity.setData()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/05/31 00:21:44</td>   <td>124</td> <td>&nbsp;</td><td title="&gt;&gt;TC0006_InActiveUser.setData()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/05/31 00:21:44</td>   <td>124</td> <td>&nbsp;</td><td title="&gt;&gt;TC0007_CreateRoleWithAllFeature.setData()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/05/31 00:21:44</td>   <td>127</td> <td>&nbsp;</td><td title="&gt;&gt;TC0008_InActiveRole.setData()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:21:44</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:21:45</td>   <td>207</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:21:45</td>   <td>604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/05/31 00:21:50</td>   <td>5730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0001LoginAndLogout.positiveLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:21:55</td>   <td>10798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:21:56</td>   <td>11418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/05/31 00:22:00</td>   <td>15947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0001LoginAndLogout.positiveLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:15</td>   <td>30907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:22:16</td>   <td>31529</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:22:16</td>   <td>31535</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:22:16</td>   <td>31536</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:16</td>   <td>31579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:22:20</td>   <td>36123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0002_LoginWithInvalidCredential.positiveLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:23</td>   <td>38681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:24</td>   <td>39295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:22:28</td>   <td>43728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0002_LoginWithInvalidCredential.positiveLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:31</td>   <td>46435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:31</td>   <td>47050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:22:36</td>   <td>51722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0002_LoginWithInvalidCredential.positiveLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:39</td>   <td>54277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:39</td>   <td>54893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:22:44</td>   <td>59423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0002_LoginWithInvalidCredential.positiveLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:46</td>   <td>62070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:22:47</td>   <td>62688</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:22:47</td>   <td>62689</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:22:47</td>   <td>62690</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:47</td>   <td>62747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/05/31 00:22:52</td>   <td>67307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0003_CreateEntityWithMandatoryField.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:11</td>   <td>86199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:11</td>   <td>86817</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:11</td>   <td>86818</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:23:11</td>   <td>86819</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:11</td>   <td>86864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/05/31 00:23:16</td>   <td>91451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0004_CreateUserWithAllField.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:25</td>   <td>101054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:26</td>   <td>101682</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:26</td>   <td>101683</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:23:26</td>   <td>101684</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:26</td>   <td>101715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/05/31 00:23:31</td>   <td>106237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0005_InActiveEntity.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:38</td>   <td>114075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:39</td>   <td>114699</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:39</td>   <td>114700</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:23:39</td>   <td>114701</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:39</td>   <td>114731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/05/31 00:23:44</td>   <td>119332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0006_InActiveUser.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:53</td>   <td>128359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:53</td>   <td>128976</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:53</td>   <td>128977</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:23:53</td>   <td>128978</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:53</td>   <td>129005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/05/31 00:23:58</td>   <td>133535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0007_CreateRoleWithAllFeature.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:24:05</td>   <td>140697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:24:06</td>   <td>141322</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:24:06</td>   <td>141323</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:24:06</td>   <td>141324</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:24:06</td>   <td>141350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/05/31 00:24:10</td>   <td>145850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0008_InActiveRole.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:24:18</td>   <td>153341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:24:18</td>   <td>153949</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:24:18</td>   <td>154000</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
</table>
