<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:21:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:15</td>   <td>20109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:23</td>   <td>27883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:31</td>   <td>35637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:39</td>   <td>43479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:46</td>   <td>51272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:11</td>   <td>75401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:25</td>   <td>90256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:38</td>   <td>103277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:53</td>   <td>117561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:24:05</td>   <td>129899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:24:18</td>   <td>142543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:21:45</td>   <td>-10194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:21:56</td>   <td>620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:16</td>   <td>20781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:24</td>   <td>28497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:31</td>   <td>36252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:39</td>   <td>44095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:22:47</td>   <td>51949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:11</td>   <td>76066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:26</td>   <td>90917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:39</td>   <td>103933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:23:53</td>   <td>118207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/05/31 00:24:06</td>   <td>130552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/05/31 00:21:50</td>   <td>-5068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0001LoginAndLogout.positiveLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/05/31 00:22:00</td>   <td>5149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0001LoginAndLogout.positiveLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:22:20</td>   <td>25325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0002_LoginWithInvalidCredential.positiveLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:22:28</td>   <td>32930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0002_LoginWithInvalidCredential.positiveLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:22:36</td>   <td>40924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0002_LoginWithInvalidCredential.positiveLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:22:44</td>   <td>48625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0002_LoginWithInvalidCredential.positiveLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/05/31 00:22:52</td>   <td>56509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0003_CreateEntityWithMandatoryField.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/05/31 00:23:16</td>   <td>80653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0004_CreateUserWithAllField.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/05/31 00:23:31</td>   <td>95439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0005_InActiveEntity.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/05/31 00:23:44</td>   <td>108534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0006_InActiveUser.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/05/31 00:23:58</td>   <td>122737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0007_CreateRoleWithAllFeature.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/05/31 00:24:10</td>   <td>135052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC0008_InActiveRole.positiveLogin(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">positiveLogin</td> 
  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:21:45</td>   <td>-10591</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:22:16</td>   <td>20738</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:22:47</td>   <td>51892</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:23:11</td>   <td>76021</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:23:26</td>   <td>90886</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:23:39</td>   <td>103903</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:23:53</td>   <td>118180</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:24:06</td>   <td>130526</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>19/05/31 00:21:44</td>   <td>-10675</td> <td>&nbsp;</td><td title="&gt;&gt;TC0001LoginAndLogout.setData()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/05/31 00:21:44</td>   <td>-10674</td> <td>&nbsp;</td><td title="&gt;&gt;TC0002_LoginWithInvalidCredential.setData()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/05/31 00:21:44</td>   <td>-10674</td> <td>&nbsp;</td><td title="&gt;&gt;TC0003_CreateEntityWithMandatoryField.setData()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/05/31 00:21:44</td>   <td>-10674</td> <td>&nbsp;</td><td title="&gt;&gt;TC0004_CreateUserWithAllField.setData()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/05/31 00:21:44</td>   <td>-10674</td> <td>&nbsp;</td><td title="&gt;&gt;TC0005_InActiveEntity.setData()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/05/31 00:21:44</td>   <td>-10674</td> <td>&nbsp;</td><td title="&gt;&gt;TC0006_InActiveUser.setData()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/05/31 00:21:44</td>   <td>-10674</td> <td>&nbsp;</td><td title="&gt;&gt;TC0007_CreateRoleWithAllFeature.setData()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/05/31 00:21:44</td>   <td>-10671</td> <td>&nbsp;</td><td title="&gt;&gt;TC0008_InActiveRole.setData()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:21:44</td>   <td>-10660</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:22:16</td>   <td>20737</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:22:47</td>   <td>51891</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:11</td>   <td>76020</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:26</td>   <td>90885</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:39</td>   <td>103902</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:53</td>   <td>118179</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:24:06</td>   <td>130525</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:21:44</td>   <td>-10798</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/05/31 00:24:18</td>   <td>143202</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:22:16</td>   <td>20731</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0001LoginAndLogout@7d907bac]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:22:47</td>   <td>51890</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0002_LoginWithInvalidCredential@7791a895]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:11</td>   <td>76019</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0003_CreateEntityWithMandatoryField@3a5ed7a6]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:26</td>   <td>90884</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0004_CreateUserWithAllField@6325a3ee]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:39</td>   <td>103901</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0005_InActiveEntity@1d16f93d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:23:53</td>   <td>118178</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0006_InActiveUser@67b92f0a]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:24:06</td>   <td>130524</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0007_CreateRoleWithAllFeature@2b9627bc]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/05/31 00:24:18</td>   <td>143151</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:testcases.TC0008_InActiveRole@65e2dbf3]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1908143486</td>   <td></td> </tr>
</table>
